# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# MLflow local tracking store
mlruns/
mlflow.db

# VS Code
.vscode/

# Mac
.DS_Store

# Data Files
data/raw/
*.csv

# Secrets
.env
